

/* header portion of css */

.header{
    display:flex;
    flex-direction: column;
}

.top-header,
.header-content {
    flex: 1;
}

.top-header {
    display: flex;
    flex-direction: row;
}

.top-header-child {
    flex: 1;
}

.header-links {
    display: flex;
    flex-direction: row;
}

.header-content {
    display: flex;
    flex-direction: row;
}

.header-content .details,
.header-content .image {
    flex: 1;
}

.header-content .details {
    display: flex;
    flex-direction: column;
}

.header-content-details .children {
    flex: 1;
}

/* random info part of css */

.random-info {
    display : flex;
    flex-direction: column;
}

.random-info-title,
.illustration-container {
    flex: 1;
    
}

.illustration-container {
    display: flex;
}

.sub-illustration-container {
    flex: 1;
}

.border-box {
    border : 2px solid  gray;
   
}

.box{
    width : 100px;
    height: 100px;
}

/* quote part of css */

.quote-container {
    display: flex;
    background-color: gray;
}

.quote {
    flex: 1;
}
